body,html{width:100%;height:100%}
body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif}
a{color:#fb8706;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s}
a:focus,a:hover{color:#fb8706}
hr{max-width:100px;margin:25px auto 0;border-width:1px;border-color:rgba(34,34,34,.1)}
hr.light{border-color:#fff}
h1,h2,h3,h4,h5,h6{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;color:#666;font-weight:200;letter-spacing:1px}
p{font-size:1.6rem;font-weight:200;color:#666;margin-bottom:20px}
img{max-width:100%;height:auto}
section{padding:5.5rem 0}
@media screen and (min-width:1300px) {.container{max-width:1220px}}
@media screen and (min-width:320px) {.phone-fan {margin-top:-3rem;}}
@media screen and (min-width:768px) {.phone-fan {margin-top:-2rem;}}
@media screen and (min-width:768px) {.phone-fan {margin-top:-2rem;}}
@media screen and (min-width:991px) {.phone-fan {margin-top:9rem;}}
.hidden {position: absolute; top: -9999px;left: -9999px;}

#mainNav{border-color:rgba(34,34,34,.05);background-color:#fff;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;font-weight:200;border-bottom:1px solid rgba(34,34,34,.15)}
#mainNav .navbar-brand{color:#666;font-weight:700}
#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{color:#fb8706}
#mainNav .navbar-toggler{font-size:12px;padding:8px 10px;color:#666}
#mainNav .navbar-nav>li>a{font-size:1rem;font-weight:400;padding-left:1.5rem;padding-right:1.5rem}
#mainNav .navbar-nav>li>a.active{color:#fb8706!important;background-color:transparent}
#mainNav .navbar-nav>li>a.active:hover{background-color:transparent}
#mainNav .navbar-nav>li>a,#mainNav .navbar-nav>li>a:focus{color:#666}
#mainNav .navbar-nav>li>a:focus:hover,#mainNav .navbar-nav>li>a:hover{color:#fb8706}
@media (min-width:992px){#mainNav{background-color:transparent}
#mainNav .navbar-brand{color:fade(white,70%)}
#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{color:#666}
#mainNav .navbar-nav>li>a,#mainNav .navbar-nav>li>a:focus{color: #666}
#mainNav .navbar-nav>li>a:focus:hover,#mainNav .navbar-nav>li>a:hover{color:#666}
#mainNav.navbar-shrink{border-color:rgba(34,34,34,.1);background-color:#fff}
#mainNav.navbar-shrink .navbar-brand{color:#666}
#mainNav.navbar-shrink .navbar-brand:focus,#mainNav.navbar-shrink .navbar-brand:hover{color:#fb8706}
#mainNav.navbar-shrink .navbar-nav>li>a,#mainNav.navbar-shrink .navbar-nav>li>a:focus{color:#666}
#mainNav.navbar-shrink .navbar-nav>li>a:focus:hover,#mainNav.navbar-shrink .navbar-nav>li>a:hover{color:#fb8706}}


header.masthead {position:relative;width:100%;padding-top:150px;padding-bottom:100px;color:#111;background:#fff}
header.masthead .header-content{margin-bottom:100px;text-align:center;padding-top:6rem}
header.masthead .header-content h2{font-weight:700;color:#3b82ad}
@media screen and (min-width: 320px) {header.masthead .header-content h2 {font-size:3.2rem;line-height:3.5rem !important}}  
@media screen and (min-width: 768px) {header.masthead .header-content h2 {font-size:4.5rem;line-height:5rem !important}}  
@media screen and (min-width:320px) and (max-width:991px) {header.masthead .container {margin-bottom:6.5rem}}  /* add padding underneath hero image */
header.masthead .header-content h3{font-size:3rem;margin-top:-.75rem !important;margin-bottom:3rem}
@media screen and (min-width: 320px) and (max-width:767px) {header.masthead .header-content h3{font-size:2.1rem;margin-top:-1.75rem !important;margin-bottom:3rem}}
header.masthead .device-container {max-width:325px;margin-right:auto;margin-left:auto}
header.masthead .device-container .screen img{border-radius:3px}
@media screen and (max-width:991px) {header.masthead{padding-bottom:0}}
@media (min-width:992px) {header.masthead{padding-top:0;padding-bottom:0}
header.masthead .header-content {margin-bottom:0;padding-top:10rem;text-align:left}
@media screen and (min-width:991px) {header.masthead .align-self-end img {margin-bottom:20rem;padding-left:0.6rem}}
@media screen and (min-width:1200px) {header.masthead .align-self-end img {margin-bottom:12rem}}
header.masthead .device-container {max-width:325px}}


section.features .section-heading{margin-bottom:6rem}
section.features .section-heading h2{margin-top:0;color:#666;font-size:2.1rem}
@media screen and (min-width:768px) {section.features .section-heading h2{font-size:3rem}}
@media screen and (min-width:992px) {section.features .section-heading h2{font-size:3.2rem}}
section.features .section-heading p{margin-bottom:0}
section.features .device-container,section.features .feature-item{max-width:325px;margin:0 auto}
section.features .device-container{margin-bottom:100px}
@media (min-width:992px){section.features .device-container{margin-bottom:0}}
section.features .feature-description p{font-size:14px;font-weight:200}
section.features .feature-item{padding-top:50px;padding-bottom:50px;text-align:center}
section.features .feature-item h3{font-size:30px}


section.info{background:#3b82ad;padding:20px 0;font-size:14px;color:#fff}
section.info .info-item{color:#fff;margin:1rem auto}
section.info .info-num{font-size:1rem;color:#fff}
@media screen and (min-width:320px) {section.info .info-num{font-size:2rem}}
@media screen and (min-width:768px) {section.info .info-num{font-size:2.5rem}}
@media screen and (min-width:992px) {section.info .info-num{font-size:3rem}}
@media screen and (min-width:320px) {section.info p{font-size:1.2rem;line-height:-0.5rem}}
@media screen and (min-width:768px) {section.info p{font-size:1.2rem}}
@media screen and (min-width:992px) {section.info p{font-size:1.5rem}}


section.download{background:#3b82ad;color:#fff}
section.download{padding-top:3.5rem; padding-bottom:2.8rem;}
section.download .section-heading h2{font-size:3.7rem !important;color:#fff;  line-height:3.8rem; margin-top:0; margin-bottom:2.0rem;}
@media screen and (min-width:320px) and (max-width:570px) {section.download .section-heading h2{font-size:3rem !important;margin-top:0;}}
@media (min-width:992px) {section.download .section-heading h2{font-size:2.5rem}}
section.download .section-heading h3{font-size:1.7rem;font-weight:500;line-height:2.5rem}
section.download .section-heading p{font-size:1.6rem;color:#fff;font-weight:200}
section.download .section-heading ul li{font-size:1.6rem;font-weight:200;line-height:2.5rem}
section.download .device-container,section.download .download-item{max-width:325px;margin:0 auto}
section.download .device-container{margin-bottom:100px}
@media (min-width:992px) {section.download .device-container{margin-bottom:0}}
section.download .download-description p{font-size:14px;font-weight:200}
section.download .download-item{padding-top:50px;padding-bottom:50px;text-align:center}
section.download .download-item h3{font-size:30px}


section.instructions{background:#f7f7f7; padding-bottom:2.5rem;}
section.instructions a {color:#fb8706;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s}
section.instructions h2{font-size:3.7rem !important; margin-top:0}
@media (min-width:992px) {section.instructions .section-heading h2{font-size:2.5rem}}
section.instructions .section-heading h3{font-size:1.7rem;font-weight:500;line-height:2.5rem}
section.instructions .section-heading p{color:#666;margin-bottom:0}
section.instructions .section-heading ul li{font-size:1.6rem;font-weight:200;line-height:2.5rem}
section.instructions .device-container,section.instructions .instructions-item{max-width:325px;margin:0 auto}
@media (min-width:992px) {section.instructions .device-container{margin-bottom:0}}
section.instructions .instructions-description p{margin-bottom:2rem;font-size:2rem;font-weight:200}
section.instructions .instructions-item{padding-top:50px;padding-bottom:50px;text-align:center}
section.instructions .instructions-item h3{font-size:30px }
section.instructions h5{padding-top:0.3rem;line-height:1.3rem;font-size:0.9rem}
section.instructions h3{font-weight:400;padding-top:1rem;}


section.contacts {background:#fff; margin-bottom:-1.2rem;}
section.contacts a {color:#fb8706;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s}
section.contacts h2{font-size:3.2rem !important; margin-top:0}
@media (min-width:992px) {section.contacts .section-heading h2{font-size:2.5rem}}
section.contacts .section-heading h3{font-size:1.7rem;font-weight:500;line-height:2.5rem}
section.contacts .section-heading p{color:#666;margin-bottom:0}
section.contacts .section-heading ul li{font-size:1.6rem;font-weight:200;line-height:2.5rem}
section.contacts .device-container,section.contacts .contacts-item{max-width:325px;margin:0 auto}
@media (min-width:992px) {section.contacts .device-container{margin-bottom:0}}
section.contacts .contacts-description p{margin-bottom:2rem;font-size:2rem;font-weight:200}
section.contacts .contacts-item{padding-top:50px;padding-bottom:50px;text-align:center}
section.contacts .contacts-item h3{font-size:30px }
section.contacts h5{padding-top:0.3rem;line-height:1.3rem;font-size:0.9rem}
section.contacts h3{font-weight:400;padding-top:1rem;}


section.about{background:#f7f7f7;}
section.about .section-heading h2{font-size:3.2rem !important;margin-top:0}
@media screen and (min-width:320px) and (max-width:570px) {section.about .section-heading h2{font-size:3rem !important;margin-top:0}}
@media (min-width:992px) {section.about .section-heading h2{font-size:2.5rem}}
section.about .section-heading h3{font-size:2.1rem !important;font-weight:500;line-height:2.5rem;margin-top:0}
section.about .section-heading h4{font-size:1.8rem;font-weight:400}
section.about .section-heading p{margin-bottom:0}
section a,section a:active,section a:focus,section a:hover{color:#666;text-decoration:none}
section.about .section-heading ul li{font-size:1.6rem;color:#666;font-weight:200;line-height:2.5rem}
section.about .device-container,section.about .about-item{max-width:325px;margin:0 auto}
section.about .device-container{margin-bottom:100px}
@media (min-width:992px) {section.about .device-container{margin-bottom:0}}
section.about .about-description p{font-size:14px;font-weight:200}
section.about .about-item{padding-top:50px;padding-bottom:50px;text-align:center}
section.about .about-item h3{font-size:30px}


footer{padding:7.5rem 0;text-align:center;color:#fff;background-color:#666666}
footer p{font-size:1rem;color:#fff;margin:0}
footer a,footer a:active,footer a:focus,footer a:hover{color:#fff;text-decoration:none}
footer ul {margin-bottom:0}
footer ul li a{font-size:16px;color:#fff}
footer ul li a.active,footer ul li a:active,footer ul li a:focus,footer ul li a:hover{text-decoration:none}


.no-gutter>[class*=col-]{padding-right:0;padding-left:0}
.pha-feature{max-width:100%}
.pha-feature img{max-height:600px}
.pha-headline{font-weight:700;font-size:2rem;padding: 2rem 1rem 0 0;margin-bottom:0}
.pha-title {font-weight:700;font-size:2rem;}
@media screen and (min-width:768px) {.pha-headline{font-size: 2.5rem}}
@media screen and (min-width:992px) {.pha-headline{font-size: 3.5rem}}
.pha-inline-badge{border:0;width:18px;height:18px;margin:0;margin-top:-.2em !important}
.pha-disclaimer{font-size:0.8rem;margin:0;padding-top:0.8rem;}
.pha-cutoff{border-bottom:1px solid #dcdcdc}
.pha-caption{padding-top:0.5rem;padding-bottom:0.5rem;line-height:1.7rem;font-size:1.3rem}
.pha-button{background-color:#fb8706;border-radius:28px;border:1px solid #fb8706;display:inline-block;cursor:pointer;color:#fff !important;font-family:Arial;font-size:1.4rem;padding:16px 33px;text-decoration:none}
.pha-button:hover{background-color:#fb8706;color:#fff}
.pha-button:active{position:relative;top:1px;color:#fff}
.pha-button:visited{color:#fff}
.pha-iframe-container {position:relative;overflow:hidden;width:100%;padding-top:56.25%;margin-top:1.8rem; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */}
.pha-iframe {position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%}
.pha-container-padding {margin-top:-4rem !important}
.pha-center-block {display:block; margin-right:auto; margin-left:auto}
.pha-bold-blue {color:#3b82ad; font-weight:600 !important; margin-bottom:-0.2rem;}
.pha-extra-bold {color:#666666; font-weight:600 !important}
.pha-qr-code-xy {margin-top:-0.7rem; max-height:223px}
.pha-apple-share-icon {max-height:20px; margin-top:-0.3em}
.pha-android-menu-icon {max-height:30px; margin:-0.1em -.25em 0 -.25em}






